.rootContainer {
  &__sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #000;
    color: #fff;

    &__logo {
      color: #fff;
    }
  }

  &__main {
    padding-left: 220px;
    padding-top: 60px;
  }
}
