{
  "extends": "airbnb/base",
  "parser": "babel-eslint",
  "rules": {
    "no-undef": 2,
    "comma-dangle": [2, "never"],
    "guard-for-in": 0,
    "func-names": 0,
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-unused-vars": [2, {"vars": "all", "args": "none"}],
    "object-curly-spacing": [2, "never"],
    "space-before-function-paren": [2, "never"],
    "quote-props": [2, "consistent-as-needed"],
    "no-param-reassign": [2, {"props": false}],
    "max-len": [2, 120, 2],
    "no-use-before-define": [2, "nofunc"],
    "new-cap": 0,
    "prefer-template": 0,
    "arrow-body-style": 0,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1
  },
  "env": {
    "mocha": true
  },
  "globals": {
    "expect": true,
    "sinon": true,
    "assert": true,
    "NODE_ENV": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "plugins": [
    "react"
  ],
  "root": true
}
